@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    border: solid 0px;
    font-family: 'Inter';
    font-weight: 400;
}

body{
    height: 100vh;
    width: 100vw;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #F3F5FC;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
}

.logo_a{
    width: 120px;
    height: 48px;
}

section{
    display: flex;
    gap: 80px;
}

.parte_digitar{
    top: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 168px;
}

.digitar{
    width: 680px;
    font-size: 32px;
    line-height: 48px;
    text-align: left;
    color: #0A3871;
    background-color: transparent;
    border: none;
}
.digitar::placeholder{
    color: #0A3871;
}
.digitar:focus{
    outline: none;
}
.digitar:focus::placeholder{
    color:transparent;
}

.texto_alerta{
    font-size: 0.75rem;
    line-height: 18px;
    text-align: left;
    color: #495057;
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.div_botao{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.botao{
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    opacity: 0px;   
    font-size: 1rem;
    line-height: 19.36px;
    text-align: center;
    cursor: pointer;
}

.criptografar{
    background-color: #0A3871;
    color: #FFFFFF;
}

.descriptografar{
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;
}

aside{
    width: 400px;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.img_aside{
    width: 336px;
    height: 304px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    width: 336px;
}

h1{
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #343A40;
}

.aside_text{
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

.copiar{
    width: 336px;
    height: 67px;
}

.div_resultado_copiar{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 32px;
    height: 100%;
    visibility: hidden;
}

.div_resultado{
    display: block;
    position: absolute;
}

#resultado{
    color: #495057;
}